*/*.box
/vendor
/.vagrant
phpunit.xml
/Homestead.yaml
/Homestead.json
/after.sh
/privileged-after.sh
/aliases
*.sql
/mysqldump.sql.gz
/mysql_backup
/postgres_backup
.idea
ca.*.crt
/system-*
/.created
